input {
    border: 1px solid #dcdcdc;
    background-color: #f9f9f9;
    color: #333;
    padding: 12px 15px;
    width: calc(100% - 30px);
    border-radius: 5px;
    margin-bottom: 15px;
    box-sizing: border-box;


    form{
        width: 400px;
        margin: 0 auto;
        padding: 20px;
        background-color: white;
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        border-radius: 10px;
    }
    ::placeholder {
        color: #888;
    }

    button{
        background-color: #468499;
        border: none;
        color: white;
        padding: 12px 20px;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
        width: 100%;

    }

    button:hover {
        background-color: #014488;
    }
}