<!DOCTYPE html>
<html lang="en" data-theme="dark" style="scrollbar-width: none; overflow-y: hidden">
{% load static %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Atlanta Food Finder</title>
    <link rel="stylesheet" href="{% static "./foodFinder/css/bulma.css" %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}" >
</head>
<body>
<section class="hero is-fullheight">
    <div class="hero-head">
        <nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <strong class="is-size-2 has-text-centered px-4">
                    Atlanta Food Finder
                </strong>
            </div>

            <div class="navbar-menu">
                <div class="navbar-start">
                    <a class="navbar-item" href="/foodFinder">
                        Home
                    </a>

                    <a class="navbar-item" href="/foodFinder/favorites">
                        Favorites
                    </a>
                </div>
                <div class="navbar-end">
                    {% if user.is_authenticated %}
                        <figure class="image is-64x64 pt-2 pr-3">
                            <a href="{% url 'settings' %}">
                                <img class="is-rounded is-square"
                                     src="{% if user.guest.profile_picture %}{{ user.guest.profile_picture.url }}{% else %}{% static 'images/default_profile.png' %}{% endif %}"
                                     alt="Profile Picture"/>
                            </a>
                        </figure>
                    {% else %}
                        <figure class="image is-64x64 pt-2 pr-3">
                            <a href="{% url 'settings' %}">
                                <img class="is-rounded is-square"
                                     src="{% static 'images/default_profile.png' %}"
                                     alt="Guest Profile Picture"/>
                            </a>
                        </figure>
                    {% endif %}
                </div>
            </div>
        </nav>
    </div>
    <div class="hero-body">
        <div class="container is-fluid mt-4" style="height: 85vh;">
            <div class="columns is-vcentered" style="height: 85vh;">
                <div class='column is-half' style="height: 85vh;">
                    <div class="control is-flex is-flex-direction-row is-justify-content-space-between">
                        <div class="is-flex-grow-1 mr-2">
                            <input class="input is-rounded" id="searchBar" name="searchBar" type="text" placeholder="Search restaurants" />
                        </div>
                        <div>
                            <button id="searchButton" class="button is-primary is-normal">Search</button>
                            <div class="select is-primary">
                                <select id="ratingFilter">
                                    <option value="">Filter by Rating</option>
                                    <option value="4">4 & Up</option>
                                    <option value="3">3 & Up</option>
                                    <option value="2">2 & Up</option>
                                    <option value="1">1 & Up</option>
                                </select>
                            </div>
                            <div class="select is-primary">
                                <select id="distanceFilter">
                                    <option value="">Filter by Distance</option>
                                    <option value="5">Within 5 km</option>
                                    <option value="10">Within 10 km</option>
                                    <option value="20">Within 20 km</option>
                                </select>
                            </div>
                            <div class="select is-primary">
                                <select id="sortOptions">
                                    <option value="">Sort By</option>
                                    <option value="ratingHigh">Rating: High to Low</option>
                                    <option value="ratingLow">Rating: Low to High</option>
                                    <option value="distanceNear">Distance: Nearest First</option>
                                    <option value="distanceFar">Distance: Farthest First</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <!-- Add a container for restaurant cards -->
                    <div id="restaurant-cards" class='card-container' style="scrollbar-width: none;"></div>
                </div>
                <div class='column is-half'>
                    <gmp-map style="height:85vh; width:100%; margin-top: 5%" map-id="1c12e499c0237ede" center="33.77166857721202, -84.38930836441801" zoom="16">
                    </gmp-map>
                </div>
            </div>
        </div>
    </div>
    <div class="hero-foot">
        <footer class="footer">
            <div class="has-text-centered">
                <strong>Atlanta Food Finder</strong> by <a href="/">Team 55</a>.
            </div>
        </footer>
    </div>
</section>

<script
        src="https://maps.googleapis.com/maps/api/js?key={{ apiKey }}&loading=async&libraries=maps,marker&v=beta" defer>
</script>
<script>
// Function to fetch initial data from Flask server
function fetchInitialData() {
    fetch('http://127.0.0.1:'+{{port}}+'/initial')
        .then(response => response.json())
        .then(data => {
            displayRestaurants(data.places);
        })
        .catch(error => console.error('Error fetching initial data:', error));
}

// Function to search for restaurants based on user input
function searchRestaurants(keyword) {
    fetch('http://127.0.0.1:'+{{port}}+'/search', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify({ keyword: keyword }),
    })
    .then(response => response.json())
    .then(data => {
        displayRestaurants(data.places);
    })
    .catch(error => console.error('Error searching for restaurants:', error));
}

function sortRestaurants(places, criterion) {
    switch (criterion) {
        case 'ratingHigh':
            return places.sort((a, b) => b.rating - a.rating);
        case 'ratingLow':
            return places.sort((a, b) => a.rating - b.rating);
        case 'distanceNear':
            return places.sort((a, b) => a.distance - b.distance);
        case 'distanceFar':
            return places.sort((a, b) => b.distance - a.distance);
        default:
            return places;
    }
}


function filterByRating(places, rating) {
    return places.filter(place => place.rating >= rating);
}

function filterByDistance(places, distance) {
    return places.filter(place => place.distance <= distance);
}

function openModal($el) {
    $el.classList.add('is-active');
}

function closeModal($el) {
    $el.classList.remove('is-active');
}

function closeAllModals() {
    (document.querySelectorAll('.modal') || []).forEach(($modal) => {
        closeModal($modal);
    });
}

document.addEventListener('keydown', (event) => {
    if(event.key === "Escape") {
        closeAllModals();
    }
});

// Function to display restaurants as cards
function displayRestaurants(places) {
    const container = document.getElementById('restaurant-cards');
    container.className = 'mt-2'
    container.innerHTML = ''; // Clear existing content
    container.style.height = 'calc(85vh - 30px)'; // Set the height
    container.style.overflowY = 'scroll'; // Allow vertical scrolling

    const ratingFilter = document.getElementById('ratingFilter').value;
    const distanceFilter = document.getElementById('distanceFilter').value;
    const sortOption = document.getElementById('sortOptions').value;

    // Apply rating filter if selected
    if (ratingFilter) {
        places = filterByRating(places, parseInt(ratingFilter));
    }

    // Apply distance filter if selected
    if (distanceFilter) {
        places = filterByDistance(places, parseInt(distanceFilter));
    }

    // Apply sorting after filtering
    const sortedPlaces = sortRestaurants(places, sortOption);

    sortedPlaces.forEach(place => {
        const card = document.createElement('div');
        card.className = 'card mx-2';

        const heartIconSrc = favoriteRestaurants.includes(place.name) ?
            "{% static 'images/heart-filled-new.png' %}" :
            "{% static 'images/heart-unfilled-new.png' %}";

        function createStarRating(rating) {
            let starsHTML = '';
            for (let i = 1; i <= place.rating; i++) { // Assuming a maximum of 5 stars
                starsHTML += `<span class="star ${i <= rating ? 'filled' : ''}">&#9733;</span>`; // Unicode star character
            }
            return starsHTML; // Return the generated star HTML
        }
        function createPriceRating(priceLevel) {
            let priceHTML = '';
            for (let i = 0; i < place.price_level; i++) {
                priceHTML += '$'; // Append dollar signs based on price level
            }
            return priceHTML; // Return the generated dollar signs HTML
        }
        function checkOpenStatus(place) {
            // Check if the open_now property exists and is true or false
            if (place.status.open_now) {
                return "Open"; // If true, return "Open"
            } else {
                return "Closed"; // If false, return "Closed"
            }
        }

        card.innerHTML = `
            <div class='card-content is-flex is-flex-direction-row is-justify-content-space-between mx-2'>
                <div class='is-size-2'>
                    ${place.name}
                    <p class="is-size-6">${place.editorial_summary}</p>
                    <div class="is-size-5">${createStarRating(place.rating)} ${createPriceRating(place.price_level)} ${checkOpenStatus(place)}</div>
                    <p class="is-size-6">${place.address}</p>
                </div>
                <div class='is-size-2' onclick="toggleFavorite(this)">
                    <img class="heart-icon" src="${heartIconSrc}" alt="Heart Icon" style="width: 40px; height: 40px;" data-restaurant="${place.name}">
                </div>
            </div>
            <footer class="card-footer">
                <button class="card-footer-item" data-target="modal-${place.id}">More</button>
            </footer>
            <div class="modal" id="modal-${place.id}">
              <div class="modal-background"></div>
              <div class="modal-card" style="width: 80vh; height: 80vh;">
                <header class="modal-card-head">
                  <p class="modal-card-title">${place.name}</p>
                  <button class="delete" aria-label="close"></button>
                </header>
                <section class="modal-card-body is-flex is-flex-direction-row is-justify-content-space-between">
                <div class='columns' style="width: 100%;">
                    <div class="column is-half">
                          <div class='is-size-2'>
                            <p class="is-size-6">${place.editorial_summary}</p>
                            <div class="is-size-5">${createStarRating(place.rating)} ${createPriceRating(place.price_level)} ${checkOpenStatus(place)}</div>
                            <p class="is-size-6">${place.address}</p>
                            <p class="is-size-6">${place.phone_number}</p>
                        </div>
                    </div>
                    <div class="column is-half">
                        <gmp-map style="height:80%; width:100%;" map-id="1c12e499c0237ede" center="${place.coords.location.lat},${place.coords.location.lng}" zoom="18">
                        </gmp-map>
                    </div>
                </div>
                </section>
                    <footer class="modal-card-foot">
                        <a class="button" href="${place.website}">Website</a>
                    </footer>
              </div>
            </div>
        `;
        container.appendChild(card);
    });
}

// Get the existing favorites from local storage
let favoriteRestaurants = JSON.parse(localStorage.getItem('favoriteRestaurants')) || [];

// Function to update the heart icon and local storage
function toggleFavorite(element) {
    const restaurantName = element.closest('.card').querySelector('.is-size-2 strong').textContent;
    const isFavorited = favoriteRestaurants.includes(restaurantName);

    if (isFavorited) {
        favoriteRestaurants = favoriteRestaurants.filter(name => name !== restaurantName);
    } else {
        favoriteRestaurants.push(restaurantName);
    }

    localStorage.setItem('favoriteRestaurants', JSON.stringify(favoriteRestaurants));
    updateHeartIcon(restaurantName, !isFavorited);
}

function updateHeartIcon(restaurantName, isFavorited) {
    const heartIcon = document.querySelector(`.heart-icon[data-restaurant="${restaurantName}"]`);
    if (heartIcon) {
        heartIcon.src = isFavorited ? "{% static 'images/heart-filled-new.png' %}" : "{% static 'images/heart-unfilled-new.png' %}";
    }
}



// On page load, check local storage and update the UI accordingly
document.addEventListener('DOMContentLoaded', () => {
    favoriteRestaurants.forEach(restaurantName => {
        updateHeartIcon(restaurantName, true);
    });
    fetchInitialData();
});


document.getElementById('restaurant-cards').addEventListener('click', (event) => {
    // Check if the clicked element is the one you want
    if (event.target.classList.contains('card-footer-item')) {
        const modalId = event.target.dataset.target; // Get the modal ID from the data attribute
        const $targetModal = document.getElementById(modalId); // Find the modal by ID
        if ($targetModal) {
            openModal($targetModal); // Open the modal
        }
    }
});



document.getElementById('restaurant-cards').addEventListener('click', (event) => {
    // Check if the clicked element is a close button
    if (event.target.classList.contains('delete') || event.target.classList.contains('close-modal')) {
        const $modal = event.target.closest('.modal'); // Find the closest modal element

        if ($modal) {
            closeModal($modal); // Close the modal
        }
    }
});

// Add event listener to search button
document.getElementById('searchButton').addEventListener('click', function() {
    const keyword = document.getElementById('searchBar').value;
    if (keyword) {
        searchRestaurants(keyword);
    } else {
        fetchInitialData();
    }
});

document.getElementById('searchBar').addEventListener('keydown', function(event) {
    if (event.key === 'Enter') { // Check if the pressed key is 'Enter'
        const keyword = document.getElementById('searchBar').value;
        if (keyword) {
            searchRestaurants(keyword);
        } else {
            fetchInitialData();
        }
    }
});




document.getElementById('sortOptions').addEventListener('change', function() {
    searchRestaurants(keyword);
});

document.getElementById('ratingFilter').addEventListener('change', function() {
    searchRestaurants(keyword); 
});


document.getElementById('distanceFilter').addEventListener('change', function() {
    searchRestaurants(keyword); 
});

// Call function to fetch initial data on page load
document.addEventListener('DOMContentLoaded', fetchInitialData);

function addFavoriteIconsToCards() {
    const restaurantCards = document.querySelectorAll('.restaurant-card');

    restaurantCards.forEach(card => {
        // Create a new div for the favorite button
        const favoriteButton = document.createElement('div');
        favoriteButton.className = 'favorite-button';

        // Create an img element for the heart icon
        const heartIcon = document.createElement('img');
        heartIcon.src = "/static/images/heart-unfilled-new.png";
        heartIcon.alt = "Favorite";
        heartIcon.className = "heart-icon";

        // Append the heart icon to the favorite button div
        favoriteButton.appendChild(heartIcon);

        // Append the favorite button div to the restaurant card
        card.appendChild(favoriteButton);

        // Add event listener for toggling the favorite icon
        favoriteButton.addEventListener('click', function () {
            if (heartIcon.src.includes('heart-unfilled-new.png')) {
                heartIcon.src = "/static/images/heart-filled-new.png";
            } else {
                heartIcon.src = "/static/images/heart-unfilled-new.png";
            }
        });
    });
}

// Call this function after the cards are generated by the Google API
googleApiCallCompletedCallback = function() {
    addFavoriteIconsToCards();
};

document.addEventListener('DOMContentLoaded', function () {
    const favoriteButtons = document.querySelectorAll('.favorite-button');

    favoriteButtons.forEach(button => {
        button.addEventListener('click', function () {
            const icon = this.querySelector('img');

            // Toggle between favorite/unfavorite
            if (icon.src.includes('heart-unfilled-new.png')) {
                icon.src = "{% static 'images/heart-filled.png' %}";
            } else {
                icon.src = "{% static 'images/heart-unfilled-new.png' %}";
            }
        });
    });
});
</script>

</body>
</html>