<html lang="en">
{% load static %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark">
    <link rel="stylesheet" href="{% static 'foodFinder/css/pico.min.css'%}">
    <title>Hello world!</title>
</head>
<body>
<header>
    <nav class="container">
        <ul>
            <li><strong>Atlanta Food Finder</strong></li>
        </ul>
        <ul>
            <li><a href="/foodFinder" class="contrast">Home</a></li>
            <li><a href="/foodFinder/favorites" class="contrast">Favorites</a></li>
            <li><a href="/foodFinder/settings" class="contrast">Settings</a></li>
        </ul>
    </nav>
</header>

<main class="container">
    <h1>Hello world!</h1>
</main>
</body>
</html>