<!DOCTYPE html>
<html lang="en" data-theme="dark">
{% load static %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height , initial-scale=1">
    <title>Atlanta Food Finder</title>
    <link rel="stylesheet" href="{% static "/foodFinder/css/bulma.css" %}">
</head>
<body>
    <section class="section is-medium is-vcentered">
        <div class="is-flex is-flex-direction-column is-align-self-center is-align-content-center">
            <h1 class="title is-size-1 has-text-centered">Atlanta Food Finder</h1>
            <div class="columns is-centered">
                <form class="column is-one-fifth is-2" action="{% url 'login' %}" method="post">
                    {% csrf_token %}
                    <div class="field">
                        <div class="control my-4">
                            <label for="usernameInput" class="label">Username</label>
                            <input class="input" type="text" id="usernameInput" name="username" placeholder="Username">
                        </div>
                        <div class="control my-4">
                            <label for='passwordInput' class="label">Password</label>
                            <input class="input" type="password" id="passwordInput" name="password" placeholder="Password">
                        </div>
                        {% if login_error %}
                            <div class="notification is-danger has-text-centered">
                                Invalid username or password
                            </div>
                        {% endif %}
                        <input class="button mt-5 is-fullwidth is-primary" type="submit" value="Login" />
                        <a class="button is-primary is-light mt-3 is-fullwidth" href="/foodFinder/register" >Register</a>
                    </div>
                </form>
            </div>
        </div>
    </section>
</body>
</html>