<!-- code for the register.html front end page -->
<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Registration</title>
    <link rel="stylesheet" href="{% static './foodFinder/css/bulma.css' %}">
</head>

<body>
<section class="section is-small">
    <div class="is-flex is-flex-direction-column">
        <h1 class="title has-text-centered">Register</h1>
        <div class="columns is-centered">
            <form class="column is-one-fifth is-2" method="POST">
                {% csrf_token %}
                <div class="field">
                    <label class="label" for="username">Username</label>
                    <div class="control">
                        <input class="input" type="text" id="username" name="username" required>
                    </div>
                </div>
                <div class="field">
                    <label class="label" for="first_name">First Name</label>
                    <div class="control">
                        <input class="input" type="text" id="first_name" name="first_name" required>
                    </div>
                </div>
                <div class="field">
                    <label class="label" for="last_name">Last Name</label>
                    <div class="control">
                        <input class="input" type="text" id="last_name" name="last_name" required>
                    </div>
                </div>
                <div class="field">
                    <label class="label" for="email">Email</label>
                    <div class="control">
                        <input class="input" type="email" id="email" name="email" required>
                    </div>
                </div>
                <div class="field">
                    <label class="label" for="password">Password</label>
                    <div class="control">
                        <input class="input" type="password" id="password" name="password" required>
                    </div>
                </div>
                <div class="field">
                    <label class="label" for="password2">Confirm Password</label>
                    <div class="control">
                        <input class="input" type="password" id="password2" name="password2" required>
                    </div>
                </div>
                {% if messages %}
                    {% for message in messages %}
                        <div class="notification  has-text-centered is-danger">{{ message }}</div>
                    {% endfor %}
                {% endif %}
                <div class="field">
                    <div class="control">
                        <button type="submit" class="button is-primary is-fullwidth"> Register Account</button>
                    </div>
                </div>
            </form>

        <script src="{% static 'foodFinder/js/scripts.js' %}"></script>
    </div>
</div>
</section>
</body>

</html>