<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Atlanta Food Finder</title>
    <link rel="stylesheet" href="{% static "./foodFinder/css/bulma.css" %}">
</head>
<body>
<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <strong class="is-size-2 has-text-centered px-4">
            Atlanta Food Finder
        </strong>
    </div>

    <div class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="/foodFinder">
                Home
            </a>

            <a class="navbar-item" href="/foodFinder/favorites">
                Favorites
            </a>

            <a class="navbar-item" href="/foodFinder/settings">
                Settings
            </a>

        </div>
    </div>
</nav>

<section class="section mt-3">
    <div class="container">
        <h1 class="title">
            Settings
        </h1>
        <p class="subtitle">
            Settings page
        </p>

        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="button is-primary" type="submit">Save Changes</button>
        </form>
    </div>
</section>


</body>
</html>