# Default ignored files
/shelf/
/workspace.xml

# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
Atlanta_Food_Finder/.env
Atlanta_Food_Finder/db.sqlite3
Atlanta_Food_Finder/foodFinder/__pycache__/views.cpython-312.pyc
